---
import CoverImage from "../components/CoverImage";
import WeatherCard from "../components/WeatherCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Vortexa">
	<main class="grid grid-cols-1 sm:grid-cols-2 gap-4 px-4">
		<WeatherCard />

		<div class="bg-black/20 backdrop-blur-md rounded-lg"></div>
	</main>

	<CoverImage background client:load />
</Layout>
