---
import CoverImage from "../components/CoverImage";
import WeatherCard from "../components/WeatherCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Vortexa">
	<main>
		<WeatherCard />
	</main>
	<CoverImage client:load />
</Layout>
