---
import MiscDetails from "../components/MiscDetails.astro";
import WeatherCard from "../components/WeatherCard.astro";
import Layout from "../layouts/Layout.astro";
import TempChart from "../components/TempChart.astro";
import CoverImage from "../components/React/CoverImage";
---

<Layout title="Vortexa | Weather Insights">
	<main
		class="grid grid-cols-1 sm:grid-cols-2 gap-3 px-4 overflow-x-hidden pb-8"
	>
		<WeatherCard />

		<MiscDetails />

		<TempChart />
	</main>

	<CoverImage background client:load />
</Layout>
