---
import Logo from "./SVG/Logo";
import SearchBar from "./SearchBar";
---

<header
	class="flex justify-between items-center mx-4 my-2 px-2 py-1 bg-black/40 rounded overflow-hidden"
>
	<div class="flex_center gap-4" id="LOGOID">
		<Logo width="40px" height="40px" />
		<h1 class="hidden sm:block text-[1.25em] font-bold">VORTEXTA</h1>
	</div>

	<SearchBar client:load />

	<nav class="hidden sm:flex flex_center gap-4">
		<a class="link" href="/">Home</a>
		<a class="link" href="/about">About</a>
		<a class="link" href="#">Portfolio</a>
	</nav>
</header>

<style>
	.link {
		@apply px-2 rounded text-[1.1em] hover:translate-y-[-0.25em] transition-transform;
	}
</style>
