---
import Logo from './SVG/Logo';
---

<header class="flex justify-between items-center px-4 py-2">
	<div class="flex_center gap-4">
		<Logo />
		<h1>Vortexa</h1>
	</div>

	<nav class="flex_center gap-4">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="#">Portfolio</a>
	</nav>
</header>