---
import BlurCard from "./BlurCard.astro";
import { SunChart, TimeCard } from "./React/TimeInfo";
import { MiscInfo } from "./React/WeatherInfo";
import WindCard from "./React/WindCard";
import AirQuality from "./React/AirQuality";
---

<section class="flex flex-col gap-2 col-span-2 sm:col-auto">
    <BlurCard>
        <TimeCard client:load />
    </BlurCard>

    <div class="flex gap-2 flex-col sm:flex-row">
        <div class="flex gap-2">
            <BlurCard>
                <WindCard client:load />
            </BlurCard>
            <BlurCard className="pt-0">
                <SunChart client:load />
            </BlurCard>
        </div>
        <BlurCard className="w-full">
            <MiscInfo client:load />
        </BlurCard>
    </div>
    <BlurCard className="w-full h-full bg-black/30">
        <AirQuality client:load />
    </BlurCard>
</section>
