---
import BlurCard from "./BlurCard.astro";
import { TimeInfo } from "./React/WeatherInfo";
---

<section class="flex flex-col gap-2">
    <BlurCard>
        <TimeInfo client:load />
    </BlurCard>

    <BlurCard>yo</BlurCard>
</section>
