---
import CoverImage from "./CoverImage";
import { WeatherMain } from "./WeatherInfo";
import WeatherIcon from "./WeatherIcon";
---

<section
    class="relative rounded-lg overflow-hidden w-full aspect-[9/16] sm:aspect-video bg-gradient-to-br from-black/40 from-0% via-transparent via-60% to-black/60 to-100%"
>
    <div class="flex flex-col justify-between w-full h-full p-4">
        <WeatherIcon client:load />
        <WeatherMain client:load />
    </div>

    <CoverImage client:load />
</section>
