---
import { WeatherMainInfo, TempDetails } from "./React/WeatherInfo";
import WeatherIcon from "./React/WeatherIcon";
import CoverImage from "./React/CoverImage";
---

<section
    class="relative col-span-2 sm:col-auto rounded-lg overflow-hidden w-full aspect-[9/16] sm:aspect-video bg-gradient-to-b from-black/40 from-0% via-transparent via-60% to-black/40 to-100%"
>
    <div class="flex flex-col justify-between w-full h-full p-4">
        <WeatherIcon client:load />

        <div class="flex justify-between items-end">
            <TempDetails client:load />
            <WeatherMainInfo client:load />
        </div>
    </div>

    <CoverImage client:load />
</section>
