---
import { WeatherMainInfo, TempDetails } from "./React/WeatherInfo";
import WeatherIcon from "./React/WeatherIcon";
import CoverImage from "./React/CoverImage";
---

<section
    class="relative col-span-2 sm:col-auto rounded-lg overflow-hidden w-full h-full aspect-[9/16] sm:aspect-video bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent from-0% to-black/25 to-100%"
>
    <div class="flex flex-col justify-between w-full h-full p-4">
        <WeatherIcon client:load />

        <div class="flex justify-between items-end">
            <TempDetails client:load />
            <WeatherMainInfo client:load />
        </div>
    </div>

    <CoverImage client:load />
</section>
